<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>mapping2</display-name>
  <welcome-file-list>
    <welcome-file>/WEB-INF/view/index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>TestController</servlet-name>
  	<!-- Ctrl 누르고 클릭하면 해당 class로 이동 -->
  	<servlet-class>com.mapp.bdi.controller.TestController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TestController</servlet-name>
  	<url-pattern>/test/*</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>URIController</servlet-name>
  	<servlet-class>com.mapp.bdi.controller.URIController</servlet-class>
  </servlet>
    <servlet-mapping>
  	<servlet-name>URIController</servlet-name>
  	<url-pattern>/uri/*</url-pattern>
  </servlet-mapping>
</web-app>